.card {
  padding: 40px 20px 20px;
  background-color: $base-white;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
  }

  &--special {
    @media (min-width: $desktop-width) {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    }
  }

  &:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
  }
}

.card__link {
  margin: 0 0 24px;
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;
  transition: transform 0.3s;

  &:hover,
  &:focus-visible {
    transform: translateY(-5px);
  }

  &:active {
    opacity: 0.8;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 31px;
  }
}

.card__name {
  margin: 0 0 4px;
  display: block;
  font-family: $font-family;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.77;
  color: $base-dark;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 1.5;
  }

  &:hover,
  &:focus-visible {
    color: $alt-primary-lighter;
  }

  &:active {
    color: $alt-primary-darker;
  }
}

.card__text {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: $base-dark;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
  }
}

.card__button {
  padding-left: 46px;
  min-width: 141px;
  position: relative;
  font-size: 14px;
  line-height: 1.42;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 16px;
    top: 10px;
    left: 20px;
    background-image: url("../../icons/stack.svg#add-to-cart-icon");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    max-width: 141px;
    justify-self: end;
  }
}
