.cart-button {
  position: relative;
  width: 60px;
  height: 100%px;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("../../icons/stack.svg#cart-icon");
    background-repeat: no-repeat;
    background-color: $base-dark;

    @media (min-width: $desktop-width) {
      top: 50%;
      left: 20px;
    }
  }

  &:hover::before {
    background-color: $base-primary;
  }

  @media (min-width: $desktop-width) {
    min-width: 129px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.cart-button__text {
  display: none;
  font-family: $font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $base-dark;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
