.catalog {
  padding: 50px 20px 44px;
  background-color: $bg-lightest-grey;
}

.catalog__list {
  margin: 0 0 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 349px 349px;
    gap: 30px;
  }
}
