.copyright {
  margin: 0;
  padding: 20px 20px 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: $base-light;
  text-align: center;
}

.copyright__link {
  padding-right: 16px;
  font-size: 12px;
  line-height: 1.33;
  color: $base-light;
}
