.features {
  padding: 50px 20px 60px;

  @media (min-width: $tablet-width) {
    padding: 248px 20px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 20px;
  }
}

.features__title {
  margin: 0 0 36px;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 339px 339px;
    gap: 50px 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 317.5px);
    gap: 30px;
  }
}

.features__item {
  padding: 66px 0 0;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 52px 56px;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 72px;
    background-position: top left;
  }

  @media (min-width: $desktop-width) {
    padding: 76px 0 0;
    background-position: top;
  }

  &--speed {
    background-image: url("../../icons/stack.svg#speed-icon");
  }

  &--convenience {
    background-image: url("../../icons/stack.svg#convenience-icon");
  }

  &--cheerfulness {
    background-image: url("../../icons/stack.svg#cheerfulness-icon");
  }

  &--ecological {
    background-image: url("../../icons/stack.svg#ecological-icon");
  }
}

.features__name {
  margin: 0 0 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.77;
  text-align: center;
  color: $base-dark;

  @media (min-width: $tablet-width) {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 1.5;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.features__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  color: $base-dark;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
