.filter {
  margin: 0 0 40px;

  @media (min-width: $desktop-width) {
    max-width: 318px;
  }
}

.filter__form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 222px);
    gap: 9px 30px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.filter__group {
  padding: 0;
  margin: 0 0 31px;
  border: none;
}

.filter__title {
  margin: 0 0 20px;
  padding: 0;
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: $base-dark;
}

.filter__buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 2;
    justify-content: center;
    flex-direction: row;
  }
}

.filter__apply {
  width: 100%;
}

.filter__reset {
  width: 100%;
}
