.filter {
  max-width: 318px;
}

.filter__group {
  padding: 0;
  margin: 0 0 30px;
  border: none;
}

.filter__title {
  margin: 0 0 30px;
  padding: 0;
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: $base-dark;
}

.filter__range-fields {
  display: flex;
  justify-content: space-between;
}

.filter__range-label {
  padding: 8px 10px;
  width: 118px;
  height: 40px;
  border: 2px solid $alt-primary-lighter;
  border-radius: 4px;
  text-align: center;
}

.filter__range-field {
  border: none;
  background-color: transparent;
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $base-dark;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &::placeholder {
    color: $base-light;
    opacity: 1;
  }
}

.filter__apply {
  width: 100%;
  margin: 0 0 20px;
}

.filter__reset {
  width: 100%;
}
