.footer {
  padding: 20px 0 30px;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(3, 223px);
    justify-content: center;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 40px 76px;
    grid-template-columns: repeat(4, 317);
    gap: 20px 30px;
  }
}

.footer__container {
  margin: 0 auto;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    max-width: 728px;
  }
}

.footer__logo {
  padding: 0;

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
    gap: 11px;
  }
}

.footer__logo-text {
  font-size: 14px;
  line-height: 1.42;
}

.footer__social {
  padding: 0 20px 20px;
  border-bottom: 1px solid $base-secondary;

  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $desktop-width) {
      height: 100%;
      flex-direction: column;
      justify-content: start;
      align-items: normal;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    border-bottom: none;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 25px;
    flex-direction: column;
    grid-column: auto;
    align-items: normal;
  }
}

.footer__group {
  padding: 20px;
  border-bottom: 1px solid $base-secondary;

  &:last-of-type {
    padding: 19px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      padding-top: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.footer__header {
  margin: 0 0 13px;
  font-family: $font-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: $base-primary;

  @media (min-width: $tablet-width) {
    margin: 0 0 12px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__link {
  padding: 8px 0;
  display: inline-block;
  font-family: $font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $base-dark;

  &:hover,
  &:focus-visible {
    outline: none;
    color: $alt-primary-lighter;
  }

  &:active {
    color: $alt-primary-darker;
  }
}

.footer__address {
  padding: 7px 0 0 19px;
  margin: 0 0 12px;
  display: block;
  font-style: normal;
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.42;
  color: $base-dark;
  background-image: url("../../icons/stack.svg#address-icon");
  background-repeat: no-repeat;
  background-size: 13px 16px;
  background-position: left 9px;

  @media (min-width: $tablet-width) {
    padding: 9px 0 0 18px;
    max-width: 160px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 11px;
    padding: 10px 0 0 20px;
    max-width: none;
    background-position: left 11px;
  }
}

.footer__phone {
  padding-left: 19px;
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.42;
  color: $base-dark;
  background-image: url("../../icons/stack.svg#phone-icon");
  background-repeat: no-repeat;
  background-size: 13px 16px;
  background-position: left;

  &:hover,
  &:focus-visible {
    color: $alt-primary-lighter;
  }

  &:active {
    color: $alt-primary-darker;
  }
}
