.header {
  background-color: $base-white;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    position: static;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @media (min-width: $desktop-width) {
    gap: 162px;
  }
}
