.header {
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.header__wrapper {
  display: flex;
  position: relative;
  gap: 10px;

  @media (min-width: $tablet-width) {
    position: static;
  }
}
