.hero {
  background: $bg-flat-white;

  @media (min-width: $tablet-width) {
    background: linear-gradient(180deg, rgba(243, 235, 225, 1) 0%, rgba(243, 235, 225, 1) 77.3%, rgba(255, 255, 255, 1) 77.3%);
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    background: $bg-flat-white;
  }
}

.hero__container {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}
