.hero {
  background-color: $bg-flat-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 187px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.hero__container {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}
