.login-button {
  position: relative;
  width: 60px;
  height: 60px;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("../../icons/stack.svg#user-icon");
    background-repeat: no-repeat;
    background-color: $base-dark;

    @media (min-width: $desktop-width) {
      top: 50%;
      left: 28px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 24px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 20px 31px 44px;
    min-width: 112px;
    height: 100%;
    min-height: 80px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &:hover,
  &:focus-visible {
    outline: none;

    .login-button__text {
      color: $base-primary;
    }

    &::before {
      background-color: $base-primary;
    }
  }

  &:active {
    background-color: $base-secondary;
  }
}

.login-button__text {
  display: none;
  font-family: $font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $base-dark;

  @media (min-width: $desktop-width) {
    display: block;
    max-width: 50px;
  }
}
