.logo {
  padding: 12px 20px;
  height: 100%;
  display: block;

  @media (min-width: $tablet-width) {
    padding: 22px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 316px;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;

    .logo__text {
      color: $base-primary;
    }
  }
}

.logo__text {
  display: none;
  font-size: 12px;
  line-height: 1.33;
  color: $base-dark;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
