.nav {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    gap: 60px;
  }
}

.nav__menu {
  &--closed {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
      max-width: 398px;
    }
  }

  &--opened {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: $base-white;
    border-top: 1px solid $base-secondary;
    border-bottom: 1px solid $base-secondary;

    @media (min-width: $tablet-width) {
      flex-flow: wrap;
      position: static;
      width: initial;
      border: none;
      z-index: initial;
    }
  }
}

.nav__item {
  width: 100%;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: initial;
    text-align: initial;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $base-secondary;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }
}

.nav__buttons {
  display: flex;

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.nav__link {
  padding: 20px;
  display: block;
  font-family: $font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $base-dark;

  @media (min-width: $tablet-width) {
    padding: 32px 20px;
  }

  &--active {
    position: relative;
    color: $base-primary;

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $base-primary;
      }
    }
  }
}

.nav__toggle {
  position: relative;
  width: 60px;
  height: 100%;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $base-dark;
    mask-image: url("../../icons/stack.svg#burger-icon");
    background-repeat: no-repeat;
  }

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__menu--opened ~ .nav__buttons .nav__toggle::before {
  mask-image: url("../../icons/stack.svg#burger-close-icon");
}
