.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
    gap: 20px;
  }
}

.pagination__list {
  max-width: 465px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__link {
  padding: 8px;
  min-width: 40px;
  min-height: 40px;
  display: block;
  border-radius: 4px;
  text-align: center;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $base-primary;
  background-color: $base-white;

  &:hover,
  &:focus-visible {
    outline: none;
    background-color: $alt-primary-lighter;
    color: $base-white;
  }

  &:active {
    background-color: $alt-primary-darker;
    color: $base-white;
  }
}

.pagination__link-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.pagination__prev {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: $base-primary;
    mask-image: url("../../icons/stack.svg#pagination-arrow-icon");
  }

  @media (min-width: $tablet-width) {
    padding: 8px 20px;

    &::after {
      content: none;
    }
  }
}

.pagination__next {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    width: 10px;
    height: 10px;
    background-color: $base-primary;
    mask-image: url("../../icons/stack.svg#pagination-arrow-icon");
  }

  @media (min-width: $tablet-width) {
    padding: 8px 20px;

    &::after {
      content: none;
    }
  }
}

.pagination__prev,
.pagination__next {
  &:hover,
  &:focus-visible {
    &::after {
      background-color: $base-white;
    }
  }

  &:active {
    &::after {
      background-color: $base-white;
    }
  }
}

.pagination__link-current {
  font-weight: 600;
  color: $base-dark;
  background-color: transparent;

  &:hover {
    color: initial;
    background-color: initial;
    cursor: default;
  }
}

.pagination__link-disabled {
  background-color: $alt-light-grey;

  &::after {
    background-color: $base-white;
  }

  &:hover {
    color: initial;
    background-color: $alt-light-grey;
    cursor: not-allowed;
  }
}

.pagination__link-hidden {
  opacity: 0;
  pointer-events: none;
}
