.range {
  margin-top: 9px;
}

.range__field[type="number"] {
  appearance: textfield;
}

.range__fields {
  position: relative;
  display: flex;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $base-light;

    @media (min-width: $desktop-width) {
      width: 10px;
    }
  }
}

.range__field {
  padding: 8px 10px;
  width: 118px;
  height: 40px;
  background-color: $base-white;
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: $base-dark;
  border: 2px solid $alt-primary-lighter;
  border-radius: 4px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &::placeholder {
    color: $base-light;
    opacity: 1;
  }

  &:focus-visible {
    outline: none;
    border: 2px solid $alt-primary-darker;
  }

  &:disabled {
    border: 2px solid $alt-light-grey;
  }
}
