.slider-pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 62px);
    justify-content: center;
    gap: 8px;
  }
}

.slider-pagination__button {
  position: relative;
  padding: 10px 0;
  width: 62px;
  height: 24px;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background-color: $base-white;
  }

  &:hover,
  &:focus-visible {
    outline: none;

    &::after {
      background-color: $alt-primary-opacity;
    }
  }

  &:active {
    &::after {
      background-color: $base-primary;
    }
  }

  &--current {
    &::after {
      background-color: $base-primary;
    }

    &:hover {
      &::after {
        background-color: $base-primary;
      }
    }
  }
}
