.slider-button-next {
  right: 0;

  &:hover,
  &:focus-visible {
    outline: none;
    background: linear-gradient(-90deg, $base-white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(-90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}
