.slider {
  padding: 20px 20px 60px;
  min-height: 645px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 60px 80px 308px;
    min-height: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 105px 47px;
  }
}

.slider__item {
  display: none;

  &--current {
    display: block;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      gap: 30px;
    }
  }
}

.slider__image-wrapper {
  margin: 0 0 10px;

  @media (min-width: $tablet-width) {
    order: 2;
    position: absolute;
    bottom: -197px;
  }

  @media (min-width: $desktop-width) {
    order: initial;
    position: static;
  }
}

.slider__description {
  @media (min-width: $tablet-width) {
    padding-bottom: 17px;
    max-width: 608px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.slider__badge {
  margin: 0 0 4px;

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.slider__title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-align: center;
  color: $base-dark;

  @media (min-width: $tablet-width) {
    margin: 0 0 16px;
    font-size: 56px;
    line-height: 1.42;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.slider__text {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  color: $base-dark;

  @media (min-width: $tablet-width) {
    margin: 0 0 40px;
    font-size: 20px;
    line-height: 1.6;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.slider__button {
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  &:disabled {
    cursor: not-allowed;

    .slider__button-arrow {
      fill: $base-light;
    }
  }
}

.slider__button-arrow {
  fill: $base-primary;

  &--next {
    transform: rotate(180deg);
  }
}
