.sorting {
  margin: 0 0 15px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.sorting__title {
  margin: 0;
  padding-left: 3px;
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: $base-dark;
}

.sorting__select-wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 7px;
    background-image: url("../../icons/stack.svg#select-arrow-icon");
    transform: translateY(-50%);
    pointer-events: none;
  }

  &:active {
    &::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &:focus-within {
    &::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &:hover,
  &:focus {
    .sorting__select {
      background-color: $base-secondary;
    }
  }
}

.sorting__select {
  padding: 4px 26px 4px 10px;
  max-width: 165px;
  border-radius: 4px;
  appearance: none;
  display: flex;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: $base-primary;
  cursor: pointer;
}
